---
// Layout & Styles
import '../styles/global.css'
import RealtimeLayout from '../layouts/RealtimeLayout.astro'

// SVG Icons
import Mouse from '../components/SVG/Mouse.astro'
import Circle_i from '../components/SVG/Circle_i.astro'
import ColorSquircles from '../components/SVG/ColorSquircles.astro'
import Clock from '../components/SVG/Clock.astro'
import Realistic from '../components/SVG/Realistic.astro'
import Simple from '../components/SVG/Simple.astro'
import Figma from '../components/SVG/Figma.astro'

// Components
import FAQs from '../components/FAQ/index.astro'
import Testimonies from '../components/Testimonials/index.astro'
import Featured from '../components/Featured/index.astro'
import Pricing from '../components/Pricing/index.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<RealtimeLayout>
  <Navbar />
  <div id='app'></div>
  <div class='hero'>
    <div class='hero-text'>
      <h1>
        Visualize Your <span class='color-effect'>Colors</span>
        <br />On a Real Website
      </h1>
      <p class='subtitle'>
        Choosing a color palette for your website?<br />Use the Toolbar below to
        realize your choices.
      </p>
      <div class='hero-cta'>
        <a
          href='#toolbar'
          onclick='
          highlightToolbar()
          '
          class='primary-button'>Get Started</a
        >
        <a href='#how' class='secondary-button'>How does it work?</a>
      </div>
      <div class='hero-scroll'>
        <Mouse />
        <p class='sub'>Scroll to see more sections</p>
      </div>
    </div>
    <div class='hero-img'>
      <a href='#mondrian-info' id='mondrian-info-icon'>
        <Circle_i />
      </a>
      <ColorSquircles />
    </div>
  </div>
  <main>
    <div class='part1' id='why'>
      <h2>Why Realtime Colors?</h2>
      <div class='part1-cards'>
        <div class='part1-card'>
          <Clock />
          <p class='subtitle highlight'>Saves time</p>
          <p>
            No need to spend hours implementing different variations of colors.
            Decide right away!
          </p>
          <div class='part1-card-bg'></div>
        </div>
        <div class='part1-card'>
          <Realistic />
          <p class='subtitle highlight'>It's Realistic</p>
          <p>
            Color Palettes make it hard to pick. This tool distributes the
            colors on a real website.
          </p>
          <div class='part1-card-bg'></div>
        </div>
        <div class='part1-card'>
          <Simple />
          <p class='subtitle highlight'>It's simple</p>
          <p>
            Push a few buttons, and there you have it! Your very own branding
            colors, ready to export.
          </p>
          <div class='part1-card-bg'></div>
        </div>
      </div>
    </div>
    <div class='part6' id='bento'>
      <ul class='bento-wrapper'>
        <li class='first-row-col1 primary-color-box'>
          100K+ Users<br />
          <span style='font-size: var(--subtitle); font-weight: normal'
            >and counting...</span
          >
        </li>
        <li class='first-row-col2 secondary-color-box'>
          100% Free!<br />
          <span style='font-size: var(--p); font-weight: normal'
            >Sponsored by YOU.</span
          >
        </li>
        <li class='second-row-col1 text-color-box'>
          <Figma />
          <span style='font-weight: bold'>5K+ Plugin Users</span>
          <a
            href='https://www.figma.com/community/plugin/1234060894101724457/Realtime-Colors'
            target='_blank'
            class='link reversed bento-link'>Check it out on Figma</a
          >
        </li>

        <li class='second-row-col2 accent-color-box'>
          100+ ProductHunt Upvotes<a
            href='https://www.producthunt.com/products/real-time-colors'
            target='_blank'
            class='link bento-link'>Leave a review</a
          >
        </li>
        <!-- </li> -->
      </ul>
    </div>
    <div class='part2' id='how'>
      <div class='part2-left'>
        <h2>How Does it Work?</h2>
        <p>You'll get your finalized color palette in 4 simple steps.</p>
      </div>
      <div class='part2-right'>
        <p class='one step'>
          Start with two neutral colors for the text and the background.
        </p>
        <p class='two step'>
          Choose your primary and secondary colors. Primary is for main CTAs and
          sections, and Secondary is for less important buttons and info cards.
        </p>
        <p class='three step'>
          Accent color is an additional color. It appears in images, highlights,
          hyperlinks, boxes, cards, etc.
        </p>
        <p class='four step'>
          Happy with the results? Press on “Export” and choose among different
          options to export in various formats, like .zip, .png, CSS, SCSS, QR
          Code, and more.
        </p>
      </div>
    </div>
    <Pricing />
    <FAQs />
    <Testimonies />
    <Featured />
    <div class='part5' id='end'>
      <h1>
        Your <span class='color-effect'>Journey</span>
        Shouldn't End Here.
      </h1>
      <p class='subtitle'>
        Follow me on social media to stay tuned on more projects.
      </p>
      <a
        href='https://twitter.com/juxtopposed'
        target='_blank'
        class='primary-button'
      >
        Stay Tuned
      </a>
    </div>
    <Footer />
    <tool-bar class='toolbar' id='toolbar'></tool-bar>
    <export-options></export-options>
    <div id='tip-bar'>
      <button id='close-btn'>&times;</button>
      <p>
        <b>Tip:</b>
        Press the Spacebar to randomize faster!
      </p>cls
    </div>
  </main>
</RealtimeLayout>
