---
// Layout & Styles
import '../styles/global.css'
import RealtimeLayout from '../layouts/RealtimeLayout.astro'

// SVG Icons
import Mouse from '../components/SVG/Mouse.astro'
import Circle_i from '../components/SVG/Circle_i.astro'
import ColorSquircles from '../components/SVG/ColorSquircles.astro'
import Clock from '../components/SVG/Clock.astro'
import Realistic from '../components/SVG/Realistic.astro'
import Simple from '../components/SVG/Simple.astro'
import Figma from '../components/SVG/Figma.astro'

// Components
import FAQs from '../components/FAQ/index.astro'
import Testimonies from '../components/Testimonials/index.astro'
import Featured from '../components/Featured/index.astro'
import Pricing from '../components/Pricing/index.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import GetStarted from '../components/GetStarted.astro'
import Working from '../components/Working.astro'
import Bento from '../components/Bento.astro'
import WhyCards from '../components/WhyCards.astro'
import StayTuned from '../components/StayTuned.astro'
---

<RealtimeLayout>
  <Navbar />
  <div id='app'></div>
  <div class='hero'>
    <div class='hero-text'>
      <h1>
        Visualize Your <span class='color-effect'>Colors</span>
        <br />On a Real Website
      </h1>
      <p class='subtitle'>
        Choosing a color palette for your website?<br />Use the Toolbar below to
        realize your choices.
      </p>
      <div class='hero-cta'>
        <GetStarted />
        <a href='#how' class='secondary-button'>How does it work?</a>
      </div>
      <div class='hero-scroll'>
        <Mouse />
        <p class='sub'>Scroll to see more sections</p>
      </div>
    </div>
    <div class='hero-img'>
      <a href='#mondrian-info' id='mondrian-info-icon'>
        <Circle_i />
      </a>
      <ColorSquircles />
    </div>
  </div>
  <main>
    <WhyCards />
    <Bento />
    <Working />
    <Pricing />
    <FAQs />
    <Testimonies />
    <Featured />
    <StayTuned />
    <Footer />
    <tool-bar class='toolbar' id='toolbar'></tool-bar>
    <export-options></export-options>
    <div id='tip-bar'>
      <button id='close-btn'>&times;</button>
      <p>
        <b>Tip:</b>
        Press the Spacebar to randomize faster!
      </p>cls
    </div>
  </main>
</RealtimeLayout>
