---
import Feature from './Feature.astro'
---

<div class='part1' id='featured-posts'>
  <div class='part3-heading'>
    <h2>Featured Articles</h2>
    <p>Just some interesting guides and posts.</p>
  </div>
  <div class='part1-cards featured-col'>
    <Feature href='/docs/examples'>
      Examples of Colors from Popular Sites
    </Feature>
    
    <Feature href='/docs/selecting-colors'>
      How to Select Colors
    </Feature>

    <Feature href='/docs/issues'>
      Learn More about the Releases
    </Feature>
  </div>
</div>
