---
import Figma from './SVG/Figma.astro'
---

<div class='part6' id='bento'>
  <ul class='bento-wrapper'>
    <li class='first-row-col1 primary-color-box'>
      100K+ Users<br />
      <span style='font-size: var(--subtitle); font-weight: normal'
        >and counting...</span
      >
    </li>
    <li class='first-row-col2 secondary-color-box'>
      100% Free!<br />
      <span style='font-size: var(--p); font-weight: normal'
        >Sponsored by YOU.</span
      >
    </li>
    <li class='second-row-col1 text-color-box'>
      <Figma />
      <span style='font-weight: bold'>5K+ Plugin Users</span>
      <a
        href='https://www.figma.com/community/plugin/1234060894101724457/Realtime-Colors'
        target='_blank'
        class='link reversed bento-link'>Check it out on Figma</a
      >
    </li>

    <li class='second-row-col2 accent-color-box'>
      100+ ProductHunt Upvotes<a
        href='https://www.producthunt.com/products/real-time-colors'
        target='_blank'
        class='link bento-link'>Leave a review</a
      >
    </li>
  </ul>
</div>
