<div class='part5' id='end'>
  <h1>
    Your <span class='color-effect'>Journey</span>
    Shouldn't End Here.
  </h1>
  <p class='subtitle'>
    Follow me on social media to stay tuned on more projects.
  </p>
  <a
    href='https://twitter.com/juxtopposed'
    target='_blank'
    class='primary-button'
  >
    Stay Tuned
  </a>
</div>
