<div class='part2' id='how'>
  <div class='part2-left'>
    <h2>How Does it Work?</h2>
    <p>You'll get your finalized color palette in 4 simple steps.</p>
  </div>
  <div class='part2-right'>
    <p class='one step'>
      Start with two neutral colors for the text and the background.
    </p>
    <p class='two step'>
      Choose your primary and secondary colors. Primary is for main CTAs and
      sections, and Secondary is for less important buttons and info cards.
    </p>
    <p class='three step'>
      Accent color is an additional color. It appears in images, highlights,
      hyperlinks, boxes, cards, etc.
    </p>
    <p class='four step'>
      Happy with the results? Press on “Export” and choose among different
      options to export in various formats, like .zip, .png, CSS, SCSS, QR Code,
      and more.
    </p>
  </div>
</div>
