---
import Testimony from './Testimony.astro'
---

<div class='part1' id='testimonials'>
  <div class='part3-heading'>
    <h2>Testimonials</h2>
    <p>What (imaginary) people are saying about this site.</p>
  </div>
  <div class='part1-cards'>
    <Testimony user='Cool User' job='Product Designer'>
      "Wow! I love this site. Realtime Colors is all websites at the same time."
    </Testimony>

    <Testimony user='Creative Person' job='Product Owner'>
      "Amazing. I found my favorite colors in literally... 2 minutes? Woah!
      Totally real review."
    </Testimony>

    <Testimony user='Real Reviewer' job='Developer'>
      "Astonished. This product is so cool. You should try it and upgrade to
      Enterprise plan. No kidding."
    </Testimony>
  </div>
</div>
